<div ng-controller="busNews" id="busNews">
	<!--模块空白-->
	<h4 class="noData" ng-if='noData'>该组织暂无发布动态 </h4>
	<!--缓存加载-->
	<!--<div ng-if='!loaddingHide'>
		<div id="dd" class="load-container load6"></div>
		<p class="loadP">玩命加载中...</p>
	</div>-->
	<!--home_page top 上拉刷新-->
	<p class="topLoad">请求刷新</p>

	<!-- ------------------------------------------------------------ -->
	<!-- newspaper center start -->
	<div class="news_paper" ng-show=loaddingHide>
		
		<div class="news_lump" ng-repeat='listInfo in dat'>
			<input type="text" ng-bind="ulIndex=$index" style="display:none" />
			<p>{{listInfo.time|resetTime}}</p>
			<ul class="news_lumpul">
				<li ng-repeat='tInfo in listInfo.Da track by $index'>
					<!--<a ui-sref="busNewsList({industryId:{{orgid}},type:ttt,id:{{tInfo.ctnId}}})">-->
					<a ng-click='busClick(tInfo.moduleId,tInfo.ctnId,tInfo.moduleName,tInfo.autoId,tInfo.orgId)'>
						<div ng-class='DivClass(tInfo.imgUrl)'>
							<!--news_only-->
							<p>{{tInfo.title}}</p>
							<p>{{tInfo.createDate|resetTime}}&nbsp; {{tInfo.createDateTime|dateTime}}&nbsp;&nbsp;{{tInfo.moduleName}} <span>{{x.orgShortName}}</span></p>
						</div>
						<img ng-src="{{tInfo.imgUrl}}" ng-show='tInfo.imgUrl' alt="">
					</a>
				</li>
			</ul>
			
		</div>
		<p class="loadClass" ng-show='loadShow'>正在加载中，请稍后......</p>
		
	<!-- busNews center end -->
</div>
<div ui-view></div>