
.load-container {
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.load6 {
	font-size: 0.4rem;
	text-indent: -9999em;
	overflow: hidden;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	margin: 0.3rem auto;
	position: relative;
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -2rem;
	margin-left: -0.25rem;
	transform: scale(0.7);
}

.loadP {
	position: absolute;
	color: #333;
	font-size: 0.6rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -0.5em;
	transform: translateX(-50%);
}

@-webkit-keyframes load6 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #00a0ea, 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2), 2.5em 0em 0 0em rgba(0, 160, 243, 0.2), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.2), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.2), -2.6em 0em 0 0em rgba(0, 160, 243, 0.5), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.7), 1.8em -1.8em 0 0em #00a0ea, 2.5em 0em 0 0em rgba(0, 160, 243, 0.2), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.2), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.2), -2.6em 0em 0 0em rgba(0, 160, 243, 0.2), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.5), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.7), 2.5em 0em 0 0em #00a0ea, 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.2), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.2), -2.6em 0em 0 0em rgba(0, 160, 243, 0.2), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.2), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.5), 2.5em 0em 0 0em rgba(0, 160, 243, 0.7), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.2), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.2), -2.6em 0em 0 0em rgba(0, 160, 243, 0.2), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.2), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2), 2.5em 0em 0 0em rgba(0, 160, 243, 0.5), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.7), 0em 2.5em 0 0em #00a0ea, -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.2), -2.6em 0em 0 0em rgba(0, 160, 243, 0.2), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.2), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2), 2.5em 0em 0 0em rgba(0, 160, 243, 0.2), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.5), 0em 2.5em 0 0em rgba(0, 160, 243, 0.7), -1.8em 1.8em 0 0em #00a0ea, -2.6em 0em 0 0em rgba(0, 160, 243, 0.2), -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.2), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2), 2.5em 0em 0 0em rgba(0, 160, 243, 0.2), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.5), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.7), -2.6em 0em 0 0em #00a0ea, -1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(0, 160, 243, 0.2), 1.8em -1.8em 0 0em rgba(0, 160, 243, 0.2), 2.5em 0em 0 0em rgba(0, 160, 243, 0.2), 1.75em 1.75em 0 0em rgba(0, 160, 243, 0.2), 0em 2.5em 0 0em rgba(0, 160, 243, 0.2), -1.8em 1.8em 0 0em rgba(0, 160, 243, 0.5), -2.6em 0em 0 0em rgba(0, 160, 243, 0.7), -1.8em -1.8em 0 0em #00a0ea;
	}
}